@import 'mixins';
@import 'init';


@font-face {
  font-family: "OpenSansRegular";
  src: url("../fonts/OpenSansRegular/OpenSansRegular.eot");
  src: url("../fonts/OpenSansRegular/OpenSansRegular.eot?#iefix")format("embedded-opentype"),
  url("../fonts/OpenSansRegular/OpenSansRegular.woff") format("woff"),
  url("../fonts/OpenSansRegular/OpenSansRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "OpenSansSemiBold";
  src: url("../fonts/OpenSansSemiBold/OpenSansSemiBold.eot");
  src: url("../fonts/OpenSansSemiBold/OpenSansSemiBold.eot?#iefix")format("embedded-opentype"),
  url("../fonts/OpenSansSemiBold/OpenSansSemiBold.woff") format("woff"),
  url("../fonts/OpenSansSemiBold/OpenSansSemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

.navbar-default {

  .navbar-brand {
    padding-top: 30px;
  }
  .navbar-nav {
    li {
      border-bottom: 2px solid transparent;

      &:hover {
        border-bottom: 2px solid #49cbcd;
        color: #49cbcd;
        background-color: #f8f9fb;
      }
      a {
        padding-top: 43px;
        padding-bottom: 43px;

        font-family: $main_font;


      }
    }
  }
}

.carousel-caption {

  h1 {
    font-size: 63px;
    margin-bottom: 40px;
    font-family: "OpenSansSemiBold";
  }

  p {
    width: 374px;
    font-size: 23px;
    font-family: $main_font;
    margin: 0 auto;
  }
  a {
    display: inline-block;
    text-decoration: none;
    width: 223px;
    height: 63px;
    margin-top: 55px;
    margin-bottom: 30px;
    padding-top: 10px;
    border: 3px solid #fff;
    border-radius: 5px;
    color: #fff;
    font-size: 26px;
    font-family: "OpenSansSemiBold";
  }
}

.glyphicon-menu-left::before {
  display: inline-block;
  width: 50px;
  height: 50px;
  padding-top: 10px;
  font-size: 30px;
  border-radius: 50%;
  color: #49cbcd;
  background-color: #fff;
}

.glyphicon-menu-right::before {
  @extend .glyphicon-menu-left::before;
}

.glyphicon-menu-left {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;

}

.glyphicon-menu-right {
  @extend .glyphicon-menu-left;
}

.team {
  margin-top: 107px;
  margin-bottom: 130px;
  text-align: center;
  color: #4e525d;
}

.round {
  width: 170px;
  height: 170px;
  overflow: hidden;
  margin-bottom: 70px;
  border-radius: 50%;
  background-color: #eeeef0;
  position: relative;

  .glyphicon-plus {
    display: none;
    color: #f46d6d;
    font-size: 40px;
    position: absolute;
    top: 60px;
    left: 80px;
  }

  &:hover .glyphicon-plus{
    display: block;
  }

  img {
    width: 100%;
  }
}

h2 {
  font-family: $main_font;
}

.person1 {
  @extend .round;
}

.person2 {
  @extend .round;
}

.person3 {
  @extend .round;
}

.person4 {
  @extend .round;
}

.person-name {
  text-align: center;
  line-height: 1;
  font-size: 20px;
  color: #71757d;
  font-family: $main_font;
}

.seat {
  @extend .person-name;
  font-size: 14px;
}

.about {
  @extend .seat;
  line-height: 1.5;
  margin-top: 30px;
  margin-bottom: 105px;
}

.grey {
  background-color: #f1f1f1;
  padding-bottom: 100px;
  .col-md-4 {
    ul {
      list-style: none;
      padding-left: 0;
      li {
        max-width: 367px;
        background-color: #fff;
        border-bottom: 1px solid #ecf0f1;
        text-align: center;
        padding-top: 24px;
        padding-bottom: 24px;
        font-size: 14px;
        font-family: $main_font;
        color: #8c9299;

        &:first-child {
          background-color: #485460;
          font-size: 26px;
          color: #fff;
        }
        &:nth-child(2) {
          background-color: #f8f9fb;
          color: #485460;
          font-size: 20px;
        }
        a:last-of-type {
          display: inline-block;
          width: 168px;
          padding-top: 12px;
          padding-bottom: 12px;
          text-align: center;
          text-decoration: none;
          background-color: #788492;
          color: #fff;
          font-size: 17px;
          border-radius: 3px;
        }
      }
    }

    &:nth-child(2) {
      ul {
        li {
          &:first-child {
            background-color: #49cbcd;
          }
          a:last-of-type {
            background-color: #49cbcd;
          }
        }
      }
    }
  }
}
footer {
  background: url(../images/foot_image.png) top left no-repeat;
  background-size: cover;
  padding-bottom: 95px;

  .contact_us {
    margin-top: 107px;
    margin-bottom: 114px;
    text-align: center;
    color: #fff;
    font-size: 42px;
    font-family: $main_font;
  }

  .foot_text1 {
    font-size: 24px;
    font-family: $main_font;
    color: #fff;
  }

  .foot_text2 {
    font-size: 14px;
    font-family: $main_font;
    color: #999999;
    line-height: 0.5;
  }

  .social {
    display: flex;
    padding-top: 20px;
    margin-bottom: 20px;

    .fb {
      display: inline-block;
      margin-right: 15px;
      width: 42px;
      height: 42px;
      border-radius: 50%;
      font-size: 23px;
      text-align: center;
      padding-top: 7px;
      background-color: #3b5997;
      color: #fff;
    }

    .tw {
      @extend .fb;
      background-color: #3ec2f3;
    }

    .google {
      @extend .fb;
      background-color: #e44c41;
    }
  }
  .foot_text3 {
    font-size: 14px;
    color: #fff;
  }
}

.name {
  width: 270px !important;
}

.mail {
  width: 270px !important;
}

.text {
  margin-top: 30px;
  width: 100%;
  height: 179px !important;
  resize: none;
}

.btn {
  display: block;
  width: 170px;
  margin-top: 29px;
  background-color: #49cbcd !important;
  font-size: 22px;
  color: #fff;
  font-family: $main_font;
}


@include max-screen($point-1) {
  .navbar-header {
    padding-bottom: 50px;
  }

  .navbar-default .navbar-nav li a {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .glyphicon-menu-right {
    right: 28px;
  }

  .carousel-caption h1 {
    font-size: 43px;
    margin-bottom: 20px;
  }
}

@include max-screen($point-2) {
  .carousel-caption a {
    margin-top: 20px;
  }
  .glyphicon-menu-right {
    right: 40px;
  }

  .carousel-caption a {
    font-size: 20px;
    width: 200px;
    height: 53px;
    margin-top: 10px;
  }

  .carousel-caption p {
    font-size: 20px;
  }

  .carousel-caption h1 {
    font-size: 26px;
    line-height: 0;
  }
}

@include max-screen($point-3) {
  .carousel-caption a {
    font-size: 14px;
    width: 155px;
    height: 30px;
    padding-top: 2px;
    margin-top: 5px;
    margin-bottom: 0;
  }

  .carousel-caption p {
    font-size: 12px;
    width: 200px;
  }

  .carousel-caption h1 {
    font-size: 18px;
    line-height: 0;
  }

  .glyphicon-menu-left::before, .glyphicon-menu-right::before {
    width: 30px;
    height: 30px;
    padding-top: 4px;
    font-size: 20px;
  }

  footer .contact_us {
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 25px;
  }

  footer .foot_text1 {
    font-size: 18px;
  }

  footer .foot_text2, footer .foot_text3 {
    font-size: 10px;
  }

  .btn {
    width: 100px;
    font-size: 16px;
  }

  .grey {
    padding-bottom: 50px;
  }
}






