@font-face {
  font-family: "OpenSansRegular";
  src: url("../fonts/OpenSansRegular/OpenSansRegular.eot");
  src: url("../fonts/OpenSansRegular/OpenSansRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansRegular/OpenSansRegular.woff") format("woff"), url("../fonts/OpenSansRegular/OpenSansRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "OpenSansSemiBold";
  src: url("../fonts/OpenSansSemiBold/OpenSansSemiBold.eot");
  src: url("../fonts/OpenSansSemiBold/OpenSansSemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansSemiBold/OpenSansSemiBold.woff") format("woff"), url("../fonts/OpenSansSemiBold/OpenSansSemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
.navbar-default .navbar-brand {
  padding-top: 30px; }
.navbar-default .navbar-nav li a {
  padding-top: 43px;
  padding-bottom: 43px;
  border-bottom: 2px solid transparent;
  font-family: "OpenSansRegular"; }
.navbar-default .navbar-nav li a:hover {
  border-bottom: 2px solid #49cbcd;
  color: #49cbcd;
  background-color: #f8f9fb; }

.carousel-caption h1 {
  font-size: 63px;
  margin-bottom: 40px;
  font-family: "OpenSansSemiBold"; }
.carousel-caption p {
  width: 374px;
  font-size: 23px;
  font-family: "OpenSansRegular";
  margin: 0 auto; }
.carousel-caption a {
  display: inline-block;
  text-decoration: none;
  width: 223px;
  height: 63px;
  margin-top: 55px;
  margin-bottom: 30px;
  padding-top: 10px;
  border: 3px solid #fff;
  border-radius: 5px;
  color: #fff;
  font-size: 26px;
  font-family: "OpenSansSemiBold"; }

.glyphicon-menu-left::before, .glyphicon-menu-right::before {
  display: inline-block;
  width: 50px;
  height: 50px;
  padding-top: 10px;
  font-size: 30px;
  border-radius: 50%;
  color: #49cbcd;
  background-color: #fff; }

.glyphicon-menu-left, .glyphicon-menu-right {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block; }

.team {
  margin-top: 107px;
  margin-bottom: 130px;
  text-align: center;
  color: #4e525d; }

.round, .person1, .person2, .person3, .person4 {
  width: 170px;
  height: 170px;
  overflow: hidden;
  margin-bottom: 70px;
  border-radius: 50%;
  background-color: #eeeef0; }

h2 {
  font-family: "OpenSansRegular"; }

.person1 {
  background: url(../images/photo1.png) center no-repeat;
  background-size: cover; }

.person2 {
  background: url(../images/photo2.png) center no-repeat;
  background-size: 170px auto; }

.person3 {
  background: url(../images/photo3.png) center no-repeat;
  background-size: auto 170px; }

.person4 {
  background: url(../images/photo4.png) center no-repeat;
  background-size: 170px auto; }

.person-name, .seat, .about {
  text-align: center;
  line-height: 1;
  font-size: 20px;
  color: #71757d;
  font-family: "OpenSansRegular"; }

.seat, .about {
  font-size: 14px; }

.about {
  line-height: 1.5;
  margin-top: 30px;
  margin-bottom: 105px; }

.grey {
  background-color: #f1f1f1;
  padding-bottom: 100px; }
.grey .promotion {
  padding-top: 118px; }
.grey .promotion .row .first, .grey .promotion .row .second, .grey .promotion .row .third {
  display: flex;
  flex-direction: column;
  align-items: center; }
.grey .promotion .row .first .basic, .grey .promotion .row .second .basic, .grey .promotion .row .third .basic {
  width: 367px;
  background-color: #485460;
  text-align: center;
  padding-top: 24px;
  padding-bottom: 24px; }
.grey .promotion .row .first .basic p, .grey .promotion .row .second .basic p, .grey .promotion .row .third .basic p {
  font-size: 26px;
  font-family: "OpenSansRegular";
  color: #fff; }
.grey .promotion .row .first .price, .grey .promotion .row .second .price, .grey .promotion .row .third .price {
  width: 367px;
  background-color: #f8f9fb;
  text-align: center;
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #ecf0f1; }
.grey .promotion .row .first .price p, .grey .promotion .row .second .price p, .grey .promotion .row .third .price p {
  font-size: 20px;
  font-family: "OpenSansRegular";
  color: #5f6a75; }
.grey .promotion .row .first .price p:before, .grey .promotion .row .second .price p:before, .grey .promotion .row .third .price p:before {
  display: inline-block;
  content: "$";
  font-size: 20px;
  color: #5f6a75; }
.grey .promotion .row .first .lorem, .grey .promotion .row .second .lorem, .grey .promotion .row .third .lorem {
  width: 367px;
  background-color: #fff;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ecf0f1; }
.grey .promotion .row .first .lorem p, .grey .promotion .row .second .lorem p, .grey .promotion .row .third .lorem p {
  font-size: 14px;
  font-family: "OpenSansRegular";
  color: #9499a0; }
.grey .promotion .row .first .buy, .grey .promotion .row .second .buy, .grey .promotion .row .third .buy {
  display: inline-block;
  width: 168px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  text-decoration: none;
  background-color: #788492;
  color: #fff;
  font-size: 17px;
  border-radius: 3px; }
.grey .promotion .row .second .basic {
  width: 367px;
  background-color: #49cbcd;
  text-align: center;
  padding-top: 24px;
  padding-bottom: 24px; }
.grey .promotion .row .second .basic p {
  font-size: 26px;
  font-family: "OpenSansRegular";
  color: #fff; }
.grey .promotion .row .second .price {
  width: 367px;
  background-color: #f8f9fb;
  text-align: center;
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #ecf0f1; }
.grey .promotion .row .second .price p {
  font-size: 20px;
  font-family: "OpenSansRegular";
  color: #5f6a75; }
.grey .promotion .row .second .price p:before {
  display: inline-block;
  content: "$";
  font-size: 20px;
  color: #5f6a75; }
.grey .promotion .row .second .lorem {
  width: 367px;
  background-color: #fff;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ecf0f1; }
.grey .promotion .row .second .lorem p {
  font-size: 14px;
  font-family: "OpenSansRegular";
  color: #9499a0; }
.grey .promotion .row .second .buy {
  display: inline-block;
  width: 168px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  text-decoration: none;
  background-color: #49cbcd;
  color: #fff;
  font-size: 17px;
  border-radius: 3px; }
.grey .promotion .row .third .basic {
  width: 367px;
  background-color: #485460;
  text-align: center;
  padding-top: 24px;
  padding-bottom: 24px; }
.grey .promotion .row .third .basic p {
  font-size: 26px;
  font-family: "OpenSansRegular";
  color: #fff; }
.grey .promotion .row .third .price {
  width: 367px;
  background-color: #f8f9fb;
  text-align: center;
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #ecf0f1; }
.grey .promotion .row .third .price p {
  font-size: 20px;
  font-family: "OpenSansRegular";
  color: #5f6a75; }
.grey .promotion .row .third .price p:before {
  display: inline-block;
  content: "$";
  font-size: 20px;
  color: #5f6a75; }
.grey .promotion .row .third .lorem {
  width: 367px;
  background-color: #fff;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ecf0f1; }
.grey .promotion .row .third .lorem p {
  font-size: 14px;
  font-family: "OpenSansRegular";
  color: #9499a0; }
.grey .promotion .row .third .buy {
  display: inline-block;
  width: 168px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  text-decoration: none;
  background-color: #788492;
  color: #fff;
  font-size: 17px;
  border-radius: 3px; }

footer {
  background: url(../images/foot_image.png) top left no-repeat;
  background-size: cover;
  padding-bottom: 95px; }
footer .contact_us {
  margin-top: 107px;
  margin-bottom: 114px;
  text-align: center;
  color: #fff;
  font-size: 42px;
  font-family: "OpenSansRegular"; }
footer .foot_text1 {
  font-size: 24px;
  font-family: "OpenSansRegular";
  color: #fff; }
footer .foot_text2 {
  font-size: 14px;
  font-family: "OpenSansRegular";
  color: #999999;
  line-height: 0.5; }
footer .social {
  display: flex;
  padding-top: 20px;
  margin-bottom: 20px; }
footer .social .fb, footer .social .tw, footer .social .google {
  display: inline-block;
  margin-right: 15px;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  font-size: 23px;
  text-align: center;
  padding-top: 7px;
  background-color: #3b5997;
  color: #fff; }
footer .social .tw {
  background-color: #3ec2f3; }
footer .social .google {
  background-color: #e44c41; }
footer .foot_text3 {
  font-size: 14px;
  color: #fff; }

.name {
  margin-right: 30px;
  width: 270px !important; }

.mail {
  width: 251px !important; }

.text {
  margin-top: 30px;
  width: 555px !important;
  height: 179px !important;
  resize: none; }

.btn {
  display: block;
  margin-top: 29px;
  width: 170px;
  background-color: #49cbcd !important;
  font-size: 22px;
  color: #fff;
  font-family: "OpenSansRegular"; }

/*# sourceMappingURL=style.css.map */
